---

<details open>
  <summary>
    <b>
      This article is part #{{ include.part }} of a series about aquarium object detection
    </b>
  </summary>

  <ol>

    <li> <a href="../aquarium-part1"> 
      {% if include.part == 1 %} <b> {% endif %}
        Project motivation, assumptions and exploratory data analysis
      {% if include.part == 1 %} </b> {% endif %}
    </a> </li>

    <li> <a href="../aquarium-part2"> 
      {% if include.part == 2 %} <b> {% endif %}
        YOLOv5 baseline
      {% if include.part == 2 %} </b> {% endif %}
    </a> </li>


  </ol>
  
</details>

---
